:root {
    --blue1: #CCDBDC;
    --blue2: #9AD1D4;
    --blue3: #80CED7;
    --blue4: #007EA7;
    --blue5: #003249;
}

html, body {
    margin: 0;
    background-color: var(--blue1);
}

.changer_pseudo {
    color: rgb(56, 56, 56);
    font-weight: 200;
    font-size: 15pt;
    font-style: italic;
}

.pure-table {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 900;
    background-color: transparent;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    table-layout: 1 1 10;
    margin: 0px 20px 20px 20px;
    flex: 100%;
    color: #FFFFFF;
}

thead {
    background-color: transparent;
    color: #FFFFFF;
}

.pure-g {
    letter-spacing: 0cm;
}
.main {
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      width: 80vw;
      text-align: center;
}
  
p {
      font-size: 100px;
}

.gameover {
    font-size: 30pt;
    margin-top: 25px;
    margin-bottom: 10px;
}

.title {
    font-size: 30pt;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--blue4)    ;
    border-radius: 20px;
    color: #FFFFFF;
}

.box, .rules {
    width: 100vw;
    /* height: 30vh; */
    background-color: var(--blue5);
    border-radius: 20px;
    text-align: left;
    margin: 10px;
}

.box-title {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 900;
    font-size: x-large;
    padding: 30px 30px 20px 30px;
    color: #FFFFFF;
}

li {
    padding: 7px 0px 7px 0px;
}

.rules-box {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: large;
    padding: 5px 60px 20px 60px;
    color: #FFFFFF;
    text-align: justify;
}

.dices {
    background-color: var(--blue3);
    border-radius: 20px;
    text-align: left;
    margin: 5px 30px 40px 30px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dice-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 900;
    font-size: 30pt;
    margin-bottom: 7pt;
}

.tick {
    transform: scale(3);
    margin: 10px;
}

.buttons {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}

.pure-button {
    background-color: var(--blue2);
}

.score-box {
    font-size: 20pt;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--blue2);
    border-radius: 20px;
}


#new-game {
    margin-top: 20px;
}

#index_rules {
    margin-top: 50pt;
}

.info_session {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 900;
    font-size: 20pt;
    text-align: right;
    margin: 10pt;
}