:root {
    --blue1: #CCDBDC;
    --blue2: #9AD1D4;
    --blue3: #80CED7;
    --blue4: #007EA7;
    --blue5: #003249;
}

html, body {
    margin: 0;
    background-color: var(--blue1);
}

.pure-g {
    letter-spacing: 0cm;
}
.main {
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      width: 80vw;
      text-align: center;
}
  
p {
      font-size: 100px;
}

.title {
    font-size: 20pt;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--blue4)    ;
    border-radius: 20px;
    color: #FFFFFF;
}

.box, .rules {
    width: 100vw;
    /* height: 30vh; */
    background-color: var(--blue5);
    border-radius: 20px;
    text-align: left;
    margin: 10px;
}

.box-title {
    padding: 10px;
    color: #FFFFFF;
}

.dices {
    background-color: var(--blue3);
    border-radius: 20px;
    text-align: left;
    margin: 0 20px 20px 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dice-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice {
    font-size: 30pt;
}

.tick {
    transform: scale(3);
    margin: 10px;
}

.buttons {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pure-button {
    background-color: var(--blue2);
}

.score-box {
    font-size: 20pt;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--blue2);
    border-radius: 20px;
}

#score {
    font-weight: bold;
}
