html, body {
    margin: 0;
    background-color: rgb(255, 0, 221);
}
  
.main {
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      width: 600px;
      text-align: center;
}
  
p {
      font-size: 100px;
}

.title{
    font-size: 20pt;
    margin-top: 100px;
    margin-bottom: 100px;
}

